config oui global
    option locale 'auto'
    option theme 'dark'

config httpd
    # HTTP listen addresses, multiple allowed
    list listen_http	0.0.0.0:80
    list listen_http	[::]:80

    # HTTPS listen addresses, multiple allowed
    list listen_https	0.0.0.0:443
    list listen_https	[::]:443

    # HTTP Keep-Alive, specifies the timeout for persistent
    # HTTP/1.1 connections. Setting this to 0 will disable
    # persistent HTTP connections.
    option http_keepalive	20

    # TCP Keep-Alive, send periodic keep-alive probes
    # over established connections to detect dead peers.
    # The value is given in seconds to specify the
    # interval between subsequent probes.
    # Setting this to 0 will disable TCP keep-alive.
    option tcp_keepalive	1

    # EMERG, ALERT, CRIT, ERR, WARNING, NOTICE, INFO, DEBUG
    option log_level 'INFO'

    # The default logging destination is the system log (syslog).
    # You can choose to log to a specific file by uncommenting the
    # line 'option log_path' and specifying the path to the desired
    # log file (e.g., '/var/log/oui-httpd.log')
    # option log_path '/var/log/oui-httpd.log'

config no-auth
    option module 'ui'
    list func 'get_locale'
    list func 'get_theme'

config user
    option username 'admin'

    # echo -n admin:123456 | md5sum
    option password '2d08086927f4d87a31154aaf0ba2e067'
    option acl admin

# Automatic certificate and key generation
config cert
	# Validity time
	option days		730

	# key type: rsa or ec
	option key_type		ec

	# RSA key size
	option bits		2048

	# EC curve name
	# Curve names vary between px5g-{wolfssl,mbedtls} and openssl
	# P-256 or P-384 are guaranteed to work
	option ec_curve		P-256

	# Location
	option country		ZZ
	option state		Somewhere
	option location		Unknown

	# Common name
	option commonname	'OpenWrt'
