config oui-httpd 'main'
	option listen_addr '0.0.0.0'
	option listen_port 80
	option home '/www'
	option index 'oui.html'
	option rpc_dir '/usr/lib/oui-httpd/rpc'
	option strict 1
	option verbose 0

config trusted
	option object oui
	list method get_lang
	list method first_login
	list method first_set
	list method load_locales
