config oui-httpd 'main'
	# HTTP listen addresses, multiple allowed
	list listen_http 0.0.0.0:80
	list listen_http [::]:80

	# HTTPS listen addresses, multiple allowed
	list listen_https 0.0.0.0:443
	list listen_https [::]:443

	# Certificate and private key for HTTPS.
	# If no listen_https addresses are given,
	# the key options are ignored.
	option cert /etc/oui-httpd/ssl.crt
	option key /etc/oui-httpd/ssl.key

	# Server document root
	option home '/www'

	# Index file
	option index 'oui.html'

	# CGI url prefix, will be searched in docroot.
	# Default is ^/cgi-bin/
	option cgi_prefix '^/cgi-bin/'

	# 0: ERROR
	# 1: INFO
	# 2: DEBUG
	option verbose 0

# Defaults for automatic certificate and key generation
config cert defaults
	# Validity time
	option days		730

	# key type: rsa or ec
	option key_type	ec

	# RSA key size
	option bits		2048

	# EC curve name
	# Curve names vary between px5g-{wolfssl,mbedtls} and openssl
	# P-256 or P-384 are guaranteed to work
	option ec_curve		P-256

	# Location
	option country		ZZ
	option state		Somewhere
	option location		Unknown

	# Common name
	option commonname	'%D'

config no-auth-methods
	option object ui
	list method get_lang
	list method first_login
	list method first_set
	list method load_locales
