config bwm
    # time to live
    #option ttl 30
    # List of local subnets. Only conntrack streams from or to any of these
    # subnets are counted. Logical interface names may be specified to
    # resolve the local subnets on the interface.
    #list subnet 192.168.1.1/24
    list local_network lan
